:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* CSS Variables */
  --black: #121417;
  --green: #4dc274;
  --text-accent: #bee8cc;
  --green-hover: #38ae5f;
  --green_linear: linear-gradient(
    85deg,
    var(--green) 2.25%,
    var(--text-accent) 131.25%
  );
  --light-green: #d4fde1;
  --green-layer-angle: #ffffff80;
  --border-color: rgba(255, 255, 255, 0.1);
  --light-gray: rgba(255, 255, 255, 0.6);
  --dark-blue: #12141780;
  --dark-border: rgba(18, 20, 23, 0.1);

  --gray: #f3f5f6;
  --white: #fff;

  /* Breakpoints */
  --mobile: 320px;
  --mobile-lg: 375px;
  --tablet: 768px;
  --desktop: 1280px;

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: var(--black);
  --section-margin: 80px;
  --content-padding: 20px
}

main {
  flex-grow: 1;
  padding: 8px var(--content-padding) 0px var(--content-padding);
}

@media (min-width: 768px) {
  body {
    --section-margin: 100px;
    --content-padding: 32px;
  }
  main {
    padding: 32px var(--content-padding) 0 var(--content-padding);
  }
}

@media (min-width: 1280px) {
  body {
    --section-margin: 150px;
    --content-padding: 0px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px var(--content-padding) 0px var(--content-padding);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-decor {
  position: relative;
}

.title-decor::after {
  content: '';
  width: 100%;
  height: 12px;
  background-color: var(--text-accent);
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  z-index: -1;
}
