.theme-button {
  position: relative;
  width: 32px;
  height: 32px;

  button {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition-property: opacity;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }

  svg {
    width: 32px;
    height: 32px;
  }
}

.theme-button.theme-dark {
  [data-data='dark'] {
    color: var(--black);
  }
  [data-data='light'] {
    opacity: 0;
    pointer-events: none;
  }
}

.theme-button:not(.theme-dark) {
  [data-data='dark'] {
    opacity: 0;
    pointer-events: none;
  }
}
