<ul class="social-links {=$class}">
  <li>
    <load
      src="partials/controls/link-icon.html"
      href="https://facebook.com"
      icon="icon-facebook"
      label="Link to Facebook"
      class="{=$class-link}"
    />
  </li>
  <li>
    <load
      src="partials/controls/link-icon.html"
      href="https://instagram.com"
      icon="icon-instagram"
      label="Link to Instagram"
      class="{=$class-link}"
    />
  </li>
  <li>
    <load
      src="partials/controls/link-icon.html"
      href="https://youtube.com"
      icon="icon-youtube"
      label="Link to Youtube"
      class="{=$class-link}"
    />
  </li>
</ul>
