.about-us {
  background-color: var(--white);
  color: var(--black);
  margin: 0 auto;
  margin-top: var(--section-margin);
}

.about-us__header {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-us__highlight {
  display: inline-block;
  position: relative;
  align-items: center;
}

.about-us__highlight-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2%;
  text-align: center;
  position: relative;
  z-index: 0;
}

.about-us__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--dark-blue);
}

.about-us__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-us__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.card {
  background-color: var(--gray);
  border-radius: 30px;
  padding: 1.5rem;
}

.card__number {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -2%;
  color: var(--green);

  margin-bottom: 0.5rem;
}

.card__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
}

/* Memoji area */
.about-us__image-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image-bg {
  background-color: var(--green);
  border-radius: 30px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.about-us__image {
  max-width: 254px;
  height: auto;
}

/* Tablet breakpoint */
@media (min-width: 768px) {
  /* Cards in two columns */
  .about-us__cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* Desktop breakpoint */
@media (min-width: 1200px) {
  .about-us {
    max-width: 1024px;
  }

  .about-us__header {
    width: 81%;
    margin-left: auto;
    margin-right: auto;
  }

  .about-us__content {
    flex-direction: row;
    align-items: stretch;
  }

  .about-us__cards {
    width: 60%;
  }

  .about-us__image-wrapper {
    width: 40%;
    display: flex;
    align-items: stretch;
  }
}
