.middle-banner {
  width: 100%;
  margin-top: var(--section-margin);

  @media screen and (min-width: 1280px) {
    max-width: 1152px;
  }
}

.middle-banner-wrapper {
  border-radius: 16px;

  background: var(--green_linear);
  padding: 40px 20px;
  padding-bottom: 472px;
  overflow: hidden;

  @media only screen and (min-width: 768px) {
    border-radius: 30px;
    padding: 65px 32px 93px;
  }

  @media only screen and (min-width: 1280px) {
    padding: 64px 64px 142px;
  }
}

.middle-banner-title {
  color: var(--white);
  font-size: 38px;
  font-weight: 700;
  line-height: 1.05;
  margin-bottom: 65px;

  @media only screen and (min-width: 768px) {
    font-size: 60px;
    line-height: 1.17;
    margin-bottom: 83px;
  }

  @media only screen and (min-width: 1280px) {
    width: 776px;
    margin-bottom: 133px;
  }
}
.title-accent {
  color: var(--text-accent);
}

.bg-relative-div {
  position: relative;

  display: flex;
  justify-content: center;
}

.layer {
  position: absolute;
  width: 100%;
  min-height: 408px;
  border-radius: 16px;

  @media only screen and (min-width: 375px) {
    width: 295px;
  }

  @media only screen and (min-width: 768px) {
    width: 668px;
    height: 500px;
  }

  @media only screen and (min-width: 1280px) {
    width: 100%;
    height: 402px;
  }
}

.background-layer {
  transform: rotate(-9deg);
  background: var(--light-green);
  @media only screen and (min-width: 768px) {
    transform: rotate(-9.864deg);
  }
  @media only screen and (min-width: 1280px) {
    transform: rotate(-8deg);
  }
}

.background-layer.second {
  transform: rotate(11deg);
  background: var(--green-layer-angle);
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    transform: rotate(10.655deg);
  }
}

.middle-banner-content {
  background-color: var(--white);
  padding: 40px 20px;

  @media only screen and (min-width: 768px) {
    padding: 65px 32px;
    position: relative;
  }

  @media only screen and (min-width: 1280px) {
    padding: 64px;
  }
}
.package-title {
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 20px;

  @media only screen and (min-width: 768px) {
    font-size: 40px;
    margin-bottom: 32px;
  }

  @media only screen and (min-width: 768px) {
    margin-bottom: 42px;
  }
}
.package-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-bottom: 20px;

  @media only screen and (min-width: 768px) {
    max-width: 449px;
  }

  @media only screen and (min-width: 1280px) {
    max-width: 654px;
  }
}
.package-list-item {
  color: var(--black);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: -0.02em;
  position: relative;
  padding-left: 28px;

  @media only screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.2;
    padding-left: 44px;
  }
}

.check-mark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: var(--green);
  border-radius: 50%;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
  }
}

.check-mark-icon {
  stroke: var(--white);
  fill: none;
  width: 15px;
  height: 15px;

  @media only screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}

.bookstack {
  display: none;

  @media only screen and (min-width: 768px) {
    display: block;
    position: absolute;
    right: -50px;
    top: 174px;
  }

  @media only screen and (min-width: 1280px) {
    right: 0;
    top: 129px;
  }
}
