.top-banner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;
  background: linear-gradient(
      96deg,
      rgba(0, 0, 0, 0.4) 36.36%,
      rgba(0, 0, 0, 0) 51.43%
    ),
    url(/img/top-banner-335w.webp) no-repeat center/cover;

  @media (min-width: 768px) {
    display: block;
  }

  @media (min-resolution: 2x) {
    background: linear-gradient(
        96deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%
      ),
      url(/img/top-banner-335w@2x.webp) no-repeat center/cover;
  }
}

@media (min-width: 768px) {
  .top-banner {
    border-radius: 30px;
    background: linear-gradient(
        96deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%
      ),
      url(/img/top-banner-704w.webp) no-repeat center/cover;

    @media (min-resolution: 2x) {
      background: linear-gradient(
          96deg,
          rgba(0, 0, 0, 0.4) 36.36%,
          rgba(0, 0, 0, 0) 51.43%
        ),
        url(/img/top-banner-704w@2x.webp) no-repeat center/cover;
    }
  }
}

@media (min-width: 1280px) {
  .top-banner {
    max-width: 1152px;
    background: linear-gradient(
        96deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%
      ),
      url(/img/top-banner-1152w.webp) no-repeat center/cover;

    @media (min-resolution: 2x) {
      background: linear-gradient(
          96deg,
          rgba(0, 0, 0, 0.4) 36.36%,
          rgba(0, 0, 0, 0) 51.43%
        ),
        url(/img/top-banner-1152w@2x.webp) no-repeat center/cover;
    }
  }
}

.top-banner__wrapper {
  padding: 425px 20px 72px 20px;
  transition-property: padding;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  @media (min-width: 768px) {
    padding: 260px 184px 295px 32px;
  }

  @media (min-width: 1280px) {
    padding: 164px 524px 163px 64px;
  }
}

.top-banner__title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.05;
  color: var(--white);
  margin-bottom: 40px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 1.167;
    margin-bottom: 32px;
  }
}


.top-banner__title span {
  color: #a3d9a5;
  display: inline;
}

.top-banner__button:hover {
  background: #45a049;
}
.top-banner__scroll-down {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 38px;
  height: 38px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: bottom, right, width, height;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  @media (min-width: 768px) {
    bottom: 32px;
    right: 32px;
    width: 48px;
    height: 48px;
  }
}

.top-banner__scroll-down svg {
  width: 24px;
  height: 24px;
}
.top-banner__scroll-down path {
  stroke: #4dc274;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
