.students-section {
  margin-top: var(--section-margin);
}

.students-section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black);
}

.students-section-text {
  font-weight: 400;
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: var(--dark-blue);
}

.students-cards {
  display: flex;
  margin-top: 64px;
  gap: 32px;
  flex-wrap: wrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.students-card {
  width: 320px;
  border-radius: 30px;
  background: var(--gray);
  padding: 32px 16px 0px 16px;
  flex: 1 1 100%;
  position: relative;
  scroll-snap-align: start;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .students-section-title {
    font-size: 40px;
    line-height: 1.2;
  }

  .students-section-text {
    font-size: 18px;
    line-height: 1.67;
  }

  .students-cards {
    flex-wrap: nowrap;
  }

  .students-card {
    flex: 0 0 calc(50% - 32px);
  }
}

@media (min-width: 1280px) {
  .students-card {
    flex: 1 1 calc(33.333% - 32px);
  }
}

.students-item {
  height: 78px;
  padding: 14px 16px;
  background: var(--green);
  border-radius: 15px;
}

.students-img {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.students-title {
  margin-top: 4px;
  margin-left: 58px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--white);
  width: 84px;
  height: 24px;
  line-height: 24px;
}

.students-text {
  margin-top: 2px;
  margin-left: 58px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--green-layer-angle);
}

.students-story {
  padding: 20px 14px 40px 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--dark-blue);
}

@media only screen and (min-width: 768px) {
  .students-story {
    font-size: 16px;
    line-height: 1.5;
  }
}
