<footer id="footer" class="footer">
  <div class="container footer-container">
    <div class="info-container">
      <div class="address-container">
        <a href="./#" class="footer-logo logo"
          >english<span class="logo-accent">excellence</span>.</a
        >
        <address class="footer-address">
          <ul class="footer-address-list">
            <li class="footer-address-item">
              <p class="footer-address-item-text">Phone number:</p>
              <a href="tel:+380684439436" class="footer-address-item-link"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-address-item">
              <p class="footer-address-item-text">Address:</p>
              <a href="https://maps.app.goo.gl/4bQhkhhgAvLG4iZh8" class="footer-address-item-link" target="_blank">Kyiv, Ukraine</a>
            </li>
          </ul>
        </address>
      </div>
      <load
        src="partials/components/nav-links.html"
        class="footer-nav-links"
        class-link="footer-nav-link"
      />
      <load src="partials/components/social-links.html" class-link="footer-socials-link"/>
    </div>

    <div class="legal-container">
      <p class="copyright-text">
        &copy;2025 Bug Busters. All rights reserved.
      </p>
      <div class="terms-conditions-container">
        <a href="#" class="terms-conditions-link">Privacy Policy</a>
        <a href="#" class="terms-conditions-link">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
