<footer class="footer">
  <div class="container footer-container">
    <div class="info-container">
      <div class="address-container">
        <a href="./index.html" class="footer-logo logo"
          >english<span class="logo-accent">excellence</span>.</a
        >
        <address class="footer-address">
          <ul class="footer-address-list">
            <li class="footer-address-item">
              <p class="footer-address-item-text">Phone number:</p>
              <a href="tel:+380684439436" class="footer-address-item-link"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-address-item">
              <p class="footer-address-item-text">Address:</p>
              <a href="" class="footer-address-item-link">32a M. Bazhana ave</a>
            </li>
          </ul>
        </address>
      </div>
      <nav class="footer-nav">
        <ul class="footer-menu">
          <li class="footer-item">
            <a href="" class="footer-item-link">About us</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item-link">Our lessons</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item-link">Teachers</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item-link">Reviews</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item-link">Contact us</a>
          </li>
        </ul>
      </nav>
      <load src="partials/components/social-links.html" class-link="footer-socials-link"/>
    </div>

    <div class="legal-container">
      <p class="copyright-text">
        &copy;2023 English Excellence. All rights reserved.
      </p>
      <div class="terms-conditions-container">
        <a href="" class="terms-conditions-link">Privacy Policy</a>
        <a href="" class="terms-conditions-link">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
