<header class="header">
  <a href="./#" class="header-logo logo"
    >english<span class="logo-accent">excellence</span>.</a
  >
  <load
    src="partials/components/nav-links.html"
    class="header-nav-links"
    class-link="header-nav-link"
  />
  <load src="partials/mobile-button-menu.html" />
  <load
    src="partials/components/social-links.html"
    class="header-socials"
    class-link="header-socials-link"
  />
  <load src="partials/components/theme-button.html" class="header-theme-button" />
</header>
