<section id="contact-us" class="container application"> 
    <div class="application_header">
        <h2 class="application_title">
            Leave an <span class="title-decor">application</span>
        </h2>
        <p class="application_text application_subtitle">
            Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.
        </p>
    </div>
    <div class="application_left_right">
        <div class="application_container_left application_hide">
            <div class="application_image">
                <img src="/img/form-image.webp" loading="lazy" srcset="/img/form-image.webp 1x, /img/form-image@2x.webp 2x" alt="Girl with headphones" class="application_card_image">
            </div>
            <div class="application_card_content">
                <p class="application_left_header">1000</p>
                <p class="application_left_subtitle">of our online English language lessons! This journey has been full of discovery, growth and unforgettable
                    moments, and we are happy to share this joyful event with you.</p>
            </div>
        </div>
        <div class="application_container_right">
            <form class="apply_form">
                <div class="application_form_options">
                    <div class="application_text_inputs">
                        <input type="text" name="name" class="application_form_input" placeholder="Name" required
                               pattern="[A-Za-z]{2,}"
                               title="Name should contain at least two letters" />
                        <input type="email" name="email" class="application_form_input" placeholder="Email" required
                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}"
                               title="Enter correct email (e.g. example@mail.com)" />
                        <input type="tel" name="tel" class="application_form_input" placeholder="Phone" required
                               pattern="[0-9]{10,}"
                               title="Phone number should containt at least 10 digits" />
                        <textarea name="comment" class="application_form_comment" placeholder="Comment"></textarea>
                    </div>
                    <div class="application_radio_inputs">
                        <p class="application_text options">Choose a teacher</p>
                        <div class="teachers">
                            <label class="application_radio_label">
                                <input type="radio" name="teacher" value="Maria" checked />
                                <span class="custom_radio"></span> Maria
                            </label>
                            <label class="application_radio_label">
                                <input type="radio" name="teacher" value="Artem" />
                                <span class="custom_radio"></span> Artem
                            </label>
                            <label class="application_radio_label">
                                <input type="radio" name="teacher" value="Ilona" />
                                <span class="custom_radio"></span> Ilona
                            </label>
                            <label class="application_radio_label">
                                <input type="radio" name="teacher" value="Volodymyr" />
                                <span class="custom_radio"></span> Volodymyr
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="application_button">Send</button>
                <p class="application_text submit_text">
                    By clicking on "Send" button, you agree to our Privacy Policy, and allow Promodo to use this information for
                    marketing
                    purposes.
                </p>
            </form>
        </div>
    </div>
</section>