<section id="teachers" class="meet-our-teachers">
    <!-- Title and description -->
    <div class="container">
    <h2 class="meet-our-teachers__title">
        Meet our <span class="title-decor">teachers</span>
    </h2>
      <p class="section-description">
        Discover our team of dedicated educators, committed to guiding you on your journey 
        to English proficiency with personalized and engaging instruction.
      </p>
      
      <ul class="teachers-grid">
        <!-- Teacher 1 -->
        <li class="teacher-card">
            <div class="teacher-photo">
                <img
                  src="./img/teachers/teacher-1.webp"
                  srcset="./img/teachers/teacher-1@2x.webp 2x"
                  loading="lazy"
                  alt="Maria"
                >
            </div>
            <h3 class="teacher-name">Maria</h3>
            <p class="teacher-description">
                A seasoned linguist and our primary specialist in beginner-level instruction, 
                Maria brings warmth and patience to every class.
            </p>
        </li>
        
        
  
        <!-- Teacher 2 -->
        <li class="teacher-card">
          <div class="teacher-photo">
            <img
              src="./img/teachers/teacher-2.webp"
              srcset="./img/teachers/teacher-2@2x.webp 2x"
              loading="lazy"
              alt="Artem"
            >
          </div>
          <h3 class="teacher-name">Artem</h3>
          <p class="teacher-description">
            With his innovative teaching techniques and a focus on interactive learning, 
            Artem excels in keeping students engaged and motivated
          </p>
        </li>
  
        <!-- Teacher 3 -->
        <li class="teacher-card">
          <div class="teacher-photo">
            <img
              src="./img/teachers/teacher-3.webp"
              srcset="./img/teachers/teacher-3@2x.webp 2x"
              loading="lazy"
              alt="Ilona"
            >
          </div>
          <h3 class="teacher-name">Ilona</h3>
          <p class="teacher-description">
            A specialist in advanced English, Ilona provides intensive instruction, 
            ensuring students gain confidence in complex language tasks
          </p>
        </li>
  
        <!-- Teacher 4 -->
        <li class="teacher-card">
          <div class="teacher-photo">
            <img
              src="./img/teachers/teacher-4.webp"
              srcset="./img/teachers/teacher-4@2x.webp 2x"
              loading="lazy"
              alt="Volodymyr"
            >
          </div>
          <h3 class="teacher-name">Volodymyr</h3>
          <p class="teacher-description">
            Our expert in English for specific purposes, Volodymyr tailors his approach 
            to meet individual career and industry-specific language needs
          </p>
        </li>
      </ul>
    </div>
  </section>
  