<div class="mobile-menu-overlay">
  <div class="mobile-menu">
    <load src="partials/components/nav-links.html" class="mobile-nav-links" />
    <load
      src="partials/components/social-links.html"
      class-link="mobile-socials-link"
    />
    <load
      src="partials/components/theme-button.html"
      class="mobile-theme-button"
    />
    <button class="btn-mobile-menu-close" aria-label="Open mobile menu">
      <svg width="32" height="32" class="social-icon">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
