<section id="top-banner" class="top-banner">
  <div class="top-banner__wrapper">
    <h1 class="top-banner__title">
      Discover the joy of learning <span>English</span> with us!
    </h1>
    <load src="partials/components/application-link.html" class-link="first-type" />

  </div>
  <a href="#footer" class="top-banner__scroll-down" aria-label="Scroll down">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M6 9l6 6 6-6" stroke="#4DC274" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </a>
</section>