<section id="reviews" class="container students-section">
    <h2 class="students-section-title">What our <span class="title-decor">students</span> say</h2>
    <p class="students-section-text">Hear from our students about their learning journey with us, as they share<br>
        their experiences, progress, and the transformative impact</p>
    <div>
        <ul class="students-cards">
            <li class="students-card">
                <div class="students-item">
                    <img srcset="/img/students/student-1.webp 1x, /img/students/student-1@2x.webp 2x" src="/img/students/student-1.webp" loading="lazy" alt="Studen Anna" width="50" height="50"
                        class="students-img">
                    <h3 class="students-title">Anna</h3>
                    <p class="students-text">Student</p>
                </div>
                <p class="students-story">My experience at the language school has been nothing short of amazing. The
                    teachers
                    are
                    dedicated and the learning
                    environment is stimulating. I feel more confident in my English skills.</p>
            </li>
            <li class="students-card">
                <div class="students-item">
                    <img srcset="/img/students/student-2.webp 1x, /img/students/student-2@2x.webp 2x" src="/img/students/student-2.webp" loading="lazy" alt="Studen Mykhailo" width="50" height="50"
                        class="students-img">
                    <h3 class="students-title">Mykhailo</h3>
                    <p class="students-text">Student</p>
                </div>
                <p class="students-story">The school offers a great balance of language theory and practical exercises.
                    The
                    personalized
                    feedback from the
                    teachers has helped me improve my weak areas.</p>
            </li>
            <li class="students-card">
                <div class="students-item">
                    <img srcset="/img/students/student-3.webp 1x, /img/students/student-3@2x.webp 2x" src="/img/students/student-3.webp" loading="lazy" alt="Studen Victoria" width="50" height="50"
                        class="students-img">
                    <h3 class="students-title">Victoria</h3>
                    <p class="students-text">Student</p>
                </div>
                <p class="students-story">I love the dynamic and interactive teaching methods used here. It's a great
                    place to
                    learn
                    English in a fun and
                    effective way. I have definitely seen a big improvement in my language skills.</p>
            </li>
        </ul>
    </div>
</section>