<section class="container">
    <h2 class="section-title">What our students say</h2>
    <div class="pass"></div>
    <p class="section-text">Hear from our students about their learning journey with us, as they share<br>
        their experiences, progress, and the transformative impact</p>
    <div>
        <ul class="cards">
            <li class="card">
                <div class="content-item">
                    <img src="./img/students/img-1.jpg" alt="Studen Anna" width="50" height="50" class="img-stud">
                    <h3 class="title">Anna</h3>
                    <p class="text">Studen</p>
                </div>
                <p class="story">My experience at the language school has been nothing short of amazing. The teachers
                    are
                    dedicated and the learning
                    environment is stimulating. I feel more confident in my English skills.</p>
            </li>
            <li class="card">
                <div class="content-item">
                    <img src="./img/students/img-2.jpg" alt="Studen Mykhailo" width="50" height="50" class="img-stud">
                    <h3 class="title">Mykhailo</h3>
                    <p class="text">Student</p>
                </div>
                <p class="story">The school offers a great balance of language theory and practical exercises. The
                    personalized
                    feedback from the
                    teachers has helped me improve my weak areas.</p>
            </li>
            <li class="card">
                <div class="content-item">
                    <img src="./img/students/img-3.jpg" alt="Studen Victoria" width="50" height="50" class="img-stud">
                    <h3 class="title">Victoria</h3>
                    <p class="text">Student</p>
                </div>
                <p class="story">I love the dynamic and interactive teaching methods used here. It's a great place to
                    learn
                    English in a fun and
                    effective way. I have definitely seen a big improvement in my language skills.</p>
            </li>
        </ul>
    </div>
</section>